/* COLORS */
.purple {
	color: #d3869b;
}
.red {
	color: #fb4934;
}
.yellow {
	color: #fabd2f;
}
.green {
	color: #8ec07c;
}
.blue {
	color: #83a598;
}

html, body {
	margin: 0;
	padding: 0;
	text-transform: none;
}

body {
	background-color: #282828;
	color:#ebdbb2;
   }
   
main {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 
  
@media screen and (max-width: 500px) {
	.header {
		display: block;
	}
}	

#clock {
	color: #ebdbd2;
	margin-bottom: 25px;
}
#datebox {
	display: inline-block;
	font-weight: bold;
	}

.header {
	width: 200px;
	text-align: right;
	font-weight: bold;
	margin: 0 20px;
}	

li {
	font-size: 20px;
	font-weight: bold;
	font-family: mononoki Nerd Font;
	display: inline-block;
	list-style: none;
	margin: 3px 10px; 
}

a {
	color:#ebdbb2;
	text-decoration: none;
}

a:hover {
	color: #a89984;
}

#input1 {
	background: #3c3836;
	color: #ebdbb2;
	border: none;
	font-family: mononoki Nerd Font;
	font-size: 20px;
	font-weight: bold;
	height: 25px;
	text-align: center;
	margin-top: 45px;
	padding: 7px;
	transition: .ls;
	width: 1000px; 
	outline: none;
	text-transform: none;
	border-radius: 15px;
}

#help {
	display: block;
	margin-top: 50px;
}

.col {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
.bangH {
	display: block;
	text-align: right;
	color: white;
}
.siteH {
	display: block;
	color: white;
}
.bang {
	display: block;
	text-align: right;
}
.site {
	display: block;
}


