/* COLORS */
.purple {
	color: #D3869B;
}
.red {
	color: #FB4934;
}
.yellow {
	color: #FABD2F;
}
.green {
	color: #8EC07C;
}
.blue {
	color: #83A598;
}

html, body {
	margin: 0;
	padding: 0;
	text-transform: none;
}

body {
	background-color: #282828;
	color:#EBDBB2;
   }
   
main {
	display: block;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
} 
  
@media screen and (max-width: 500px) {
	.header {
		display: block;
	}
}	

#clock {
	color: #EBDBB2;
	margin-bottom: 25px;
}
#datebox {
	display: inline-block;
	font-weight: medium;
	}

.header {
    width: 300px;
    text-align: right;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}	

li {
	font-size: 22px;
	font-weight: medium;
	font-family: scientifica;
	display: inline-block;
	list-style: none;
	margin: 3px 10px; 
}

a {
	color:#ebdbb2;
	text-decoration: none;
}

a:hover {
	color: #a89984;
}

#input1 {
	background: #32302F;
	color: #ebdbb2;
	border: none;
	font-family: scientifica;
	font-size: 22px;
	font-weight: medium;
	height: 25px;
	text-align: center;
	margin-top: 45px;
	padding: 7px;
	transition: .ls;
	width: 1000px; 
	outline: none;
	text-transform: none;
	border-radius: 5px;
	box-shadow: 0 1px 6px rgba(0,0,0,.5) !important;
}

#help {
	display: block;
	margin-top: 50px;
}

.col {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
.bangH {
	display: block;
	text-align: right;
	color: #ebdbb2;
}
.siteH {
	display: block;
	color: #ebdbb2;
}
.bang {
	display: block;
	text-align: right;
}
.site {
	display: block;
}


